{{!Python Docstrings Template for spark-jobs-automation Project}}
{{summaryPlaceholder}}

{{extendedSummaryPlaceholder}}
{{#parametersExist}}

## Parameters
{{#args}}
`{{var}}` : `{{typePlaceholder}}`
    {{descriptionPlaceholder}}
{{/args}}
{{#kwargs}}
`{{var}}` : `{{typePlaceholder}}`
    {{descriptionPlaceholder}}, by default '{{&default}}'
{{/kwargs}}
{{/parametersExist}}
{{#returnsExist}}

## Returns
{{#returns}}
`{{typePlaceholder}}` :
    {{descriptionPlaceholder}}
{{/returns}}
{{/returnsExist}}
{{#yieldsExist}}

## Yields
{{#yields}}
    {{descriptionPlaceholder}}
{{/yields}}
{{/yieldsExist}}
{{#exceptionsExist}}

## Raises
{{#exceptions}}
`{{type}}` :
    {{descriptionPlaceholder}}
{{/exceptions}}
{{/exceptionsExist}}